*,
*:before,
*:after {
  box-sizing: border-box;

}
body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

main,footer,header{
  text-align: center;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

 .header__menu-item {
    display: inline;
    margin-right: 72px;
    color: #FF0000;
    padding: 0;
    box-sizing: border-box;
    color: #F00;
  }
ul li:nth-child(3) {
    margin-right: 50px;
}
ul li:nth-child(4) {
  margin-right: 0px;
}
.header__menu-items{
    text-align: center;
    padding: 0px;
    margin-bottom: 25.5px;
}
.page__header {
    padding-top: 22.5px;
    padding-bottom: 22.5px;
  }
.logo{
    color: #FF0000;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    font-weight: 700;
    
}
.front_img{
    width: 1280px;
    height: 789px;
}
.main_contet_title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    margin-bottom: 48px;
}
.first_main_content{
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    font-weight: 400;
    margin-right: 67.5px;
    margin-left: 67.5px;
    margin-bottom:28px;
}
.second_main_content{
  font-family: 'Montserrat';
  font-style: normal;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  font-weight: 400;

  margin-right: 67.5px;
  margin-left: 67.5px;
}
.footer_content{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 2.4px;
  margin-right: 105px;
  color: #373737;
  margin-bottom: 29px;
}

.main_button{
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 66px;
    margin-bottom: 82px;
    border: 0px;

}
.button_text{
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  
  color: #FFFFFF
}


